html {
  max-width: 450px;
  margin: 0 auto;
}

@keyframes float {
  0% {
    position: relative;
  }
  20% {
    bottom: 1px;
  }
  100% {
    position: relative;
    bottom: 6px;
    box-shadow: 2px 2px 15px 5px #d0d0d0;
  }
}
